body {
  margin: 0;
}

#title {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 45px;
  color: rgb(255, 132, 0);
}

img {
  position: fixed;
  margin-left: 55%;
}

ol, img {
  margin-top: 25px;
}

#songOne {
  padding-top: 20px;
}

li {
  font-size: 30px;
  margin-left: 150px;
  margin-top: 30px;
}

@media screen and (min-width: 480px) {
  img {
    height: 30%;
    width: 45%;
    margin-left: 50%;
  }

  li {
    margin-left: 10px;
  }
}