body {
  margin: 0;
}

#titleContainer {
  position: fixed;
  background-color: white;
  width: 100%;
  margin-top: -30px;
}

#title {
  font-size: 45px;
  color: rgb(255, 132, 0);
  margin-left: 30%;
}

#imgContainer {
  position: fixed;
  margin-left: 55%;
  margin-top: 120px;  
}

#imgContainer p {
  font-size: 22px;
  width: 70%;
}

img {
  width: 350px;
  height: 350px;
}

#songOne {
  padding-top: 120px;
}

ol {
  margin-bottom: 100px;
}

li {
  font-size: 24px;
  margin-left: 150px;
  margin-top: 30px;
}

@media screen and (max-width: 600px) {
  #title {
    margin-left: 5%;
    font-size: 35px;
  }

  #imgContainer {
    position: fixed;
    margin-left: 50%;
    margin-top: 120px;  
  }
  
  img {
    height: 200px;
    width: 200px;
  }

  li {
    margin-left: 15px;
  }

  #songOne {
    padding-top: 120px;
  }
}